<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" 

      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" 
      >

    <head>
        <title>Početna strana | Katalog</title>
        <meta name="description" content="demo"/> 
         <meta name="keywords" content="demo"/>
    <th:block th:insert="fragments/head :: head" />
</head>

<body>
      

    <th:block th:insert="fragments/navigation :: navbar" />

               <div style="margin-top: 200px; min-height:600px">

    


     

   

        <div class="services">
            <div>
                
                <p>Dodavanje proizvoda</p>
            </div>
        </div>
<form th:action="@{/dodajProizvod}"  method="POST" >
                                <h2>Registracija novog proizvoda</h2>
                               
                                <input type="text" name="naziv" placeholder="naziv " />
                                <input type="text" name="opis" placeholder="opis" />
                               
                                <input type="number" name="cena" placeholder="cena" />
                                <input type="number" name="dostupno" placeholder="dostupno" class="no-arrow" />
                                 
                               
                                <input type="submit" name="" value="Sacuvaj"/>
                                

                            </form>
         </div>


<th:block th:insert="fragments/footer :: footer" />


<div id="backToTop"></div>

<th:block th:insert="fragments/scripts :: scripts" />


</body>

</html>