<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" 

      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" 
      >

    <head>
        <title>Početna strana | Katalog</title>
        <meta name="description" content="demo"/> 
         <meta name="keywords" content="demo"/>
    <th:block th:insert="fragments/head :: head" />
</head>

<body>
      

    <th:block th:insert="fragments/navigation :: navbar" />

               <div style="margin-top: 200px; min-height:600px">

    


     

   

        <div class="services">
            <div>
                <h3>SVE KATEGORIJE</h3>
                <p>pregleg kategorija proizvoda</p>
            </div>
        </div>
 <div class="col-sm-9">
        <table class="table">
                               <tr>
                                   <td>naziv</td>
                                   <td>opis</td>     
                                     <td>izmena</td>
                                       <td>brisanje</td>
                               </tr>
                   <th:block th:each="kat:${sveKategorije}">
                        <tr>
                      
                        
                            <td> <a th:href="@{/pregledJedneKategorije/{kategorijaId} (kategorijaId=${kat.id})}"><span th:text="${kat.naziv}"></span></a></td>
                                   <td> <span th:text="${kat.opis}"></span></td>
                                  
                               
                                 
                   <td><a th:href="@{/editKategorija/{kategorijaId} (kategorijaId=${kat.id})}">izmeni kategoriju</a></td>   
                   <td><a th:href="@{/removeKategorija/{kategorijaId} (kategorijaId=${kat.id})}">obrisi kategoriju</a></td>
                   
                   </tr>
                  
                       
                       
                   </th:block>  
                                        </table>
                        </div>
                   
                   
         </div>


<th:block th:insert="fragments/footer :: footer" />


<div id="backToTop"></div>

<th:block th:insert="fragments/scripts :: scripts" />


</body>

</html>