<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

    </head>

    <body>

    <th:block th:fragment="footer">




        <footer class="animation-element bounce-up">
           

            <div class="copyright">© Katalog 2021 | All rights reserved. <br>
              
                            </div>

                            </footer>

                            </th:block>




                            </body>
                            </html>